{% extends 'hospital/homebase.html' %}

{% block content %}
{% load static %}

<br>
<br>
{% comment %} <link rel="stylesheet" href="{% static "/css/adminloginpage.css" %}">
<link rel="stylesheet" href="{% static "/css/adminlogintxt.css"%}">
<div class="jumbotron" style="margin-bottom:0px;">
  <center>
    <img src = "{% static "images/Admin icons.png" %} " style="width:120px;"></center>
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">MCHS</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button"><button class='glowing-btn'><span class='glowing-txt'>L<span class='faulty-letter'>O</span>GIN</span></button></a>
  </p>
</div> {% endcomment %}

<link rel="stylesheet" href="{% static "/css/adminclick.css"%}">
{% comment %} <div class="jumbotron" style="margin-bottom:0px;"> {% endcomment %}
  <center>
  <img src = "{% static "images/Admin icons.png" %} " style="width:120px;"></center>
  <h1 class="display-4" style="text-align:center;">PATIENT LOGIN</h1>
  <p class="lead"><a class="btn-shine" target="_blank">Welcome to MHCS</a></p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    {% comment %} <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a> {% endcomment %}
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button"><button class='glowing-btn'><span class='glowing-txt'>BOO<span class='faulty-letter'>K</span>IGIN</span></button></a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button"><button class='glowing-btn'><span class='glowing-txt'>L<span class='faulty-letter'>O</span>GIN</span></button></a>
  </p>
{% comment %} </div> {% endcomment %}


{% endblock content %}
